html {
    box-sizing: border-box;
    
}
*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
}
textarea {
    resize: vertical;
    width: 95%;
    min-height: 6rem;
}
body {
    background-image: url("../assets/img/Arcane-bg.webp");
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
/* Utilities */
.small-text {
    font-size: 10px;
}
.block {
    display: block;
}