html {
    box-sizing: border-box;
    color: white;
}
*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
}
textarea {
    resize: vertical;
    width: 95%;
    min-height: 6rem;
}
body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}
h1 {
    padding: 1rem;
}
input, select {
    border: 0;
    border-radius: 3px;
}
/* Utilities */
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.small-text {
    font-size: 10px;
}
.block {
    display: block;
}
.bg-opacity {
    background-color: rgba(0, 0, 0, .7);
}
.bg-image {
    background-image: url("../assets/img/Arcane-bg.webp");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1rem;

    min-height: 100vh;
}
.text-center {
    text-align: center;
}
/* BEM */
/* Header */

/* Form */
.form__div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    padding: 1rem;
}