html {
    box-sizing: border-box;
    
}
*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
}
textarea {
    resize: vertical;
    width: 95%;
    min-height: 6rem;
}

/* Utilities */
.small-text {
    font-size: 10px;
}
.block {
    display: block;
}